{% extends 'Layout/basic.html' %}
{%block title %}Greetings{%endblock%}
{% block content %}
    <div class="home">
    
        <p class="text_board">
            Ваша история начинается в одном из великих замков материка, Винтерхолде.<br>
            <br>
            В этот день вас вызвала к себе принцесса Анна и поручила особо важную миссию.
            Вам необходимо будет встретится лицом к лицу с одним из богов этого мира.
            Принцесса рассказала вам, что ее родители собираются вступить в сговор со тьмой.
            Ваша миссия заключается в предотвращении данной сделки.
            Единственное, что известно, это то, что бог скрывается в руинах, закрытыми 4 печатями.
            Принцесса желает вам удачи в пути.
        </p>

    <div class="col center">
        <a href="{% url 'Game:travel' %}" class="btn btn-sm animated-button victoria-one">Start game</a>
    </div>

    </div>
{%endblock%}